body {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#vis {
  width: 100vw;
}

.header,
.footer {
  padding: 10px;
  font-size: 12px;
  color: #999;
  background: #f7f7f7;
}

.header a {
  color: #919191;
}

a.twitter {
  float: right;
  text-decoration: none;
  color: #17b1f0;
}

.sel {
  width: 50px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.filter {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.stats {
  border: 1px solid #eee;
  border-collapse: collapse;
}

.stats th,
.stats td {
  padding: 10px;
  border: 1px solid #eee;
}

.stats th {
  background: #f7f7f7;
  cursor: pointer;
  min-width: 40px;
  user-select: none;
}

.stats th:hover {
}

.stats td {
  text-align: center;
}

.stats tbody td:nth-child(1) {
  background: #f1f1f1;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
  text-align: right;
}

.stats tbody td:nth-child(1) a {
  text-decoration: none;
  color: #1668bd;
}

.stats tbody td:nth-child(3) {
  padding: 0;
}

.stats tbody tr:hover td {
  background: hsla(198, 100%, 80%, 0.5);
  border: 1px solid #92D9FC;
}

/*.stats th[role="columnheader"] {
  background: red !important;
}*/

.stats th[role="columnheader"]:hover:after {
  visibility: visible;
}

.stats th[role="columnheader"]:after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
}

.stats th[aria-sort="ascending"]:after,
.stats th[aria-sort="descending"]:after,
.stats th[aria-sort="descending"]:hover:after {
  visibility: visible;
  border-color: #7fce4e transparent;
}

.stats th[aria-sort="ascending"]:after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

.vis {
  display: block;
}

.vis .title {
  font-size: 9px;
  font-weight: bold;
}

.vis .tick text {
  font-size: 9px;
}

.distribution rect {
  fill: green;
  fill-opacity: 0.5;
}

.distribution rect.AVG {
  fill: orange;
  fill-opacity: 1;
}

.tip {
  display: none;
  text-anchor: middle;
  font-size: 9px;
}

.tip.active {
  display: block;
}
