body {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#vis {
  width: 100vw;
}


.stats {
  width: 100%;
  border: 1px solid #eee;
  border-collapse: collapse;
}

.stats th,
.stats td {
  padding: 10px;
  border: 1px solid #eee;
}

.stats th {
  background: #f7f7f7;
  cursor: pointer;
  min-width: 40px;
}

.stats th:hover {
}

.stats td {
  text-align: center;
}

.stats tbody td:nth-child(1) {
  background: #f1f1f1;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
  text-align: right;
}

.stats tbody td:nth-child(3) {
  padding: 0;
}

.stats tbody tr:hover td {
  background: #9AE1FF;
  border-color: #92D9FC;
}

.stats th.sort-header:hover:after {
  visibility: visible;
}

.stats th.sort-header:after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
}

.stats th.sort-up:after,
.stats th.sort-down:after,
.stats th.sort-down:hover:after {
  visibility: visible;
  opacity: 0.4;
}

.stats th.sort-up:after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

.vis {
  display: block;
}

.vis .title {
  font-size: 9px;
  font-weight: bold;
}

.vis .tick text {
  font-size: 9px;
}

.distribution rect {
  fill: green;
  fill-opacity: 0.5;
}

.distribution rect.POR {
  fill: red;
  fill-opacity: 1;
}

.distribution rect.mean {
  fill: orange;
  fill-opacity: 1;
}
